# SPDX-FileCopyrightText: 2022 Felipe Kinoshita <kinofhek@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Licentia
Name[ca]=Licentia
Name[ca@valencia]=Licentia
Name[cs]=Licentia
Name[de]=Licentia
Name[en_GB]=Licentia
Name[es]=Licentia
Name[fi]=Licentia
Name[fr]=Licentia
Name[it]=Licentia
Name[ko]=Licentia
Name[nl]=Licentia
Name[pt]=Licentia
Name[sk]=Licentia
Name[sl]=Licentia
Name[tr]=Licentia
Name[uk]=Licentia
Name[x-test]=xxLicentiaxx
Name[zh_TW]=Licentia
GenericName=License Chooser
GenericName[ca]=Tria de llicència
GenericName[ca@valencia]=Tria de llicència
GenericName[de]=Lizenzwähler
GenericName[en_GB]=Licence Chooser
GenericName[es]=Selector de licencias
GenericName[fi]=Lisenssin valinta
GenericName[fr]=Sélecteur de licence
GenericName[it]=Selettore delle licenze
GenericName[ko]=라이선스 선택기
GenericName[nl]=Kiezer van licentie
GenericName[pt]=Selector de Licenças
GenericName[sk]=Výber licencie
GenericName[sl]=Izbirnik licence
GenericName[tr]=Lisans Seçici
GenericName[uk]=Засіб для вибору ліцензування
GenericName[x-test]=xxLicense Chooserxx
GenericName[zh_TW]=授權條款選擇工具
Comment=Choose a license for your project
Comment[ca]=Trieu una llicència per al vostre projecte
Comment[ca@valencia]=Seleccioneu una llicència per al vostre projecte
Comment[cs]=Zvolte si licenci pro svůj projekt
Comment[de]=Wählen Sie eine Lizenz für Ihr Projekt
Comment[en_GB]=Choose a licence for your project
Comment[es]=Escoja una licencia para su proyecto
Comment[fi]=Valitse projektillesi lisenssi
Comment[fr]=Sélectionner une licence pour votre projet
Comment[it]=Scegli una licenza per il tuo progetto
Comment[ko]=내 프로젝트의 라이선스 선택
Comment[nl]=Kies een licentie voor uw project
Comment[pt]=Escolha uma licença para o seu projecto
Comment[sk]=Vyberte licenciu pre váš projekt
Comment[sl]=Izberite licenco za vaš projekt
Comment[tr]=Projeniz için bir lisans seçin
Comment[uk]=Виберіть умови ліцензування вашого проєкту
Comment[x-test]=xxChoose a license for your projectxx
Comment[zh_TW]=選擇適合您專案的授權條款
Exec=licentia
Icon=org.kde.licentia
Type=Application
Terminal=false
Keywords=licenses;copyright;
Keywords[ca]=llicència;llicències;copyright;drets d'autor;
Keywords[ca@valencia]=llicència;llicències;copyright;drets d'autoria;
Keywords[de]=lizenzen;
Keywords[en_GB]=licences;copyright;
Keywords[es]=licencias;derechos de autor;
Keywords[fi]=lisenssi;lisenssit;tekijänoikeus;tekijänoikeudet;
Keywords[fr]=licences ; droit d'auteur ;
Keywords[it]=licenze;copyright;
Keywords[ko]=licenses;copyright;라이선스;저작권;
Keywords[nl]=licenties;copyright;
Keywords[pt]=licenças;direitos de cópia;copyright;
Keywords[sk]=licencie;copyright;
Keywords[sl]=licence;copyright;
Keywords[tr]=lisanslar;telif hakkı;
Keywords[uk]=licenses;copyright;ліцензія;ліцензування;умови;авторські права;
Keywords[x-test]=xxlicensesxx;xxcopyrightxx;
Keywords[zh_TW]=授權;授權條款;版權;著作權;
Categories=Development;
SingleMainWindow=true
